@import "bootstrap";

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.mw-480 {
  max-width: 480px;
}

.mw-640 {
  max-width: 640px;
}
